*
!m4/
!configure
!config.sub
!config.guess
!install-sh
!missing
!aclocal.m4
!Makefile.in
!requirements.txt
!scripts/
!download/

!bin/rhasspy-tts-cli-hermes
!rhasspy-tts-cli-hermes.in
!rhasspytts_cli_hermes/*.py